*{
	margin:0;
	padding:0;
}
body{
	width: 100vw;
	height: 1080px;		
	overflow: hidden;
	background:  #f5f5f5;
}
.layout{
    width: 854px;
    min-height: 620px;
    background-color: #fff;
    margin: 0 auto 200px;
    position: relative;
    top:8vw;
    font:20px bold;
    box-shadow:0 10px 15px -10px rgba(0,0,0,.3);
}
.layout::after{
	content:"";
	position:absolute;
	top:0;
	right:0;
	/*border:0px solid rgba(0,0,0,.2) transparent;*/
	border-style:solid;
	border-width:0px;
	border-color:rgba(0,0,0,.2)  #f5f5f5;
	border-radius:0 0 0 4px;
	transition:border .5s ease;
	}
.layout:hover:after{
	/*border-right-width:80px;
	border-top-width:80px;
	border-top-color:yellow;
	border-right-color:red;
	border-bottom-width:80px;
	border-bottom-color:blue;
	border-left-width:80px;
	border-left-color:pink;*/
	border-right-width:30px;
	border-bottom-width:40px;
	/*折角效果 将注释的css生效可以看到 四种方向的三角形，使用两对*/
}

.header{
	width:inherit;
	height:192px;
	text-align:center;	
	line-height:380px;
	padding:0px 0px 50px 0;
	background:url(../images/header.png) no-repeat center center/100px;
	
}
.contents{
	width:inherit;
	height:349px;
}
.label1{
	position:relative;

}
#forLabel1{
	position:absolute;
	top:-30px;
	left:1em;
	font-size:5px;
	color:red;
}
.regiestbox{
	width:50%;
	height:192px;
	margin:0 auto;

	transform:translateX(30px);
}
.regiestbox input{
	display:inline-block;
	width:calc(359px - 13px);
	margin-bottom:14px;
    padding: 13px 0 13px 10px;
    font-size:14px;
    background:1px solid transparent;
}
#userNumber{
	margin-top;50px;
}
#userNumberTips{
	display:block;
	width:46px;
	height:46px;
	position:absolute;
	top:0;
	right:5%;
	/*transform:translateY(-6px);*/
}
#userPasswordTips{
	display:block;
	width:46px;
	height:46px;
	position:absolute;
	top:62%;
	right:5%;
}
.tips{
	background:url(../images/true.png) no-repeat 0 / 100%;
}
.tipsError{
	background:url(../images/false.png) no-repeat  14px 15px / 40%;
}
#submit{
		cursor:pointer;
		display:block;
		width:359px;
		border:none;
		background:#ff6700;
		padding:13px 0px;
		color:#fff;
		margin-top:10px;
}